.header {
    background-color: #4caf50;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
  }
  
  .header h1 {
    margin: 0;
    font-size: 36px;
  }
  
  .logoutButton {
    margin: 10px;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .navbar a {
    border-right: 3px solid white;
    color: white;
    padding: 20px;
    text-decoration: none;
    text-align: center;
  }
  
  .navbar a:hover {
    background-color: #45a049;
  }