.dropdown-menu {
  position: relative;
  justify-items: right;
  background-color: #f0f0f0;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  color: black;
}

.dropdown-menu li {
  margin: 10px;
  list-style-type: none;
}

ul {
  padding: 0;
  text-align: center;
}

.dropdown-menu button {
  border-radius: 0;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}
